<p id="notice"><%= notice %></p>

<p>
  <strong>Group name:</strong>
  <%= @device_group.group_name %>
</p>

<%= link_to 'Edit', edit_device_group_path(@device_group) %> |
<%= link_to 'Back', device_groups_path %>
